<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a>Services</a></li>
                <li><a>Portfolio</a></li>
                <li><a>About</a></li>
                <li><a>Team</a></li>
                <li><a>Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">Welcome to Dashboard Page</div>
        </div>
    </div>
</header>
